.editorNav {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editorNavOption {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  font-size: 24px;
}

.editorNavOptionActive {
  background: #6979f8;
  color: #fff;
}

.editorNavControls {
  position: absolute;
  right: 15px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    margin-left: 10px;
  }
}

.editorHelpText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 20px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  color: #fff;

  button {
    color: currentColor;
    text-decoration: underline;
  }

  p {
    margin-bottom: 0;
  }
}
