.selectedDataWrapper {
  position: relative;
}

.selectedDataHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.selectedDataHeaderInfo {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.selectedDataList {
  max-height: 400px;
  min-height: 200px;
  overflow: auto;
  border-radius: 6px;
  background-color: #fff;
}

.selectedDataSelection {
  font-size: 14px;
  color: #2434b6;
}

.selectedDataAction {
  font-size: 22px;
  cursor: pointer;
  margin-left: 10px;
  background: none;
  outline: none;
  border: none;
}
