.selectedDataWrapper {
  position: relative;
}

.selectedDataHeader {
  display: flex;
  align-items: center;
  justify-items: flex-end;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
}

.selectedDataList {
  max-height: 400px;
  min-height: 200px;
  overflow: auto;
  margin-bottom: 20px;
}

.selectedDataSelection {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.selectedDataAction {
  font-size: 22px;
  cursor: pointer;
  margin-left: 10px;
  background: none;
  outline: none;
  border: none;
}

.selectedDataAddPoint {
  cursor: pointer;
  color: #4051db;
  font-weight: 800;
  text-transform: uppercase;
  margin-left: auto;
}

.clearFilters {
  color: #2434b6;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-height: 827px) {
  .selectedDataList {
    max-height: 30vh;
  }
}
