# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
__pycache__
.pyc

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/.idea/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.now
.env

tests/docker/testhost/ui_test.py
tests/docker/testhost/data/**
tests/docker/testhost/page_objects.py
tests/docker/testhost/__init__.py
# editor configs
.editorconfig

#a11y-test output
/a11y-tests/errors/*
/a11y-tests/screenshots/*


