.navMenu {
  display: flex;
  margin-top: 15px;

  @media screen and (min-width: 700px) {
    margin: 0;
  }
}

.navMenuItem {
  margin-left: 20px;
  font-size: 16px;
  text-decoration: none;

  color: rgba(248, 248, 255, 0.75);

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    margin-left: 30px;
  }
}

.active {
  border-bottom: 4px solid white;
  color: #fff;
}
