@import 'scss/global';

.button {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  border-radius: 0.8rem;
  background-color: $interactive-01;
  color: white;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: $hover-primary;
  }

  &:disabled {
    background-color: #cccccc;
    color: #666666;
  }
}
