@import 'scss/global';

.popup {
  text-align: center;

  :global .mapboxgl-popup-content {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 0;
    min-width: auto;
  }
}

.title {
  @include typescale('zeta');
}

.time {
  display: block;
  font-weight: normal;
  color: $text-02;
  @include typescale('caption');
}

.popupButton {
  display: inline-flex;
  align-items: center;
  padding: 10px 12.5px 10px 10px;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  text-align: left;
  color: #3c475b;

  svg {
    transition: color 200ms;
    font-size: 18px;
    margin-right: 10px;
  }

  &:hover {
    svg {
      color: #41dca4;
    }
  }
}
