@import 'scss/global';

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 30px;
  cursor: pointer;
}

.dropdownContent {
  position: absolute;
  background-color: #FFFFFF;
  width: 256px;
  box-shadow: $box-shadow;
  z-index: 1;
  right: 0;
  border-radius: 8px;
}

.menuIcon {
  cursor: pointer;
}

.item {
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid #E9EAF0;
  }
  
  &:hover {
    background-color: #F8F8FF;
  }

  &:first-child {
    &:hover {
      border-radius: 8px 8px 0 0;
    }
  }

  &:last-child {
    &:hover {
      border-radius: 0 0 8px 8px
    }
  }
}

.deleteMemberText {
  color: #FF5656;
}

