.deletePointsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  h3 {
    margin-bottom: 20px;
  }
}

.deletePointsBody {
  text-align: center;
  font-size: 26px;

  button {
    margin-bottom: 15px;
  }
}
