.pointEditor {
  padding: 10px;

  :global .react-datepicker {
    width: auto;
  }
}

.pointEditorHeader {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.locationControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  span {
    display: inline-block;
    margin: 10px 0;
  }
}

.timeControls {
  display: flex;
  margin: 0 0 10px;

  label {
    font-weight: 600;
  }
}

.durationControls {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'a a'
    'b c';
  margin-bottom: 20px;

  h6 {
    grid-area: a;
    font-size: 14px;
  }

  label {
    font-size: 14px;
  }
}
