.modalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 55;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.modalInner {
  position: relative;
  max-width: 80vw;

  @media screen and (min-width: 1400px) {
    max-width: 50vw;
  }
}
