.modalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 55;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.modalInner {
  position: relative;
  max-width: 80vw;

  @media screen and (min-width: 1400px) {
    max-width: 50vw;
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: transform 300ms;

  &:hover,
  &:focus {
    transform: scale(1.4);
  }
}
