.redactorToolsHeader {
  display: flex;
  margin-bottom: 20px;

  button {
    border: none;
    outline: none;
    //background: none;
    cursor: pointer;
    margin-right: 15px;
    font-size: 20px;
    padding: 0;
  }
}

.selectedfaEllipsisVIcon {
  position: absolute;
  margin-left: 311px;
}

header h3{
  text-align: center;
}

header p{
  margin-top: 20px;
}

.ModalButton{
  font-size: 16px !important;
  width: 9em;
}

.inputtext{
  margin-bottom: 12px;
}
