.redactorToolsHeader {
  display: flex;
  margin-bottom: 20px;

  button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    padding: 0;
    color: #9ba0aa;
  }
}

.selectedEditAction {
  margin: 0 0 0 auto;
}

header h3 {
  text-overflow: ellipsis;
  width: 275px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
}

.headerTitle {
  margin-left: 10px;
}

.dialogTitle {
  font-size: 20px;
}

.dialogText {
  margin-top: 16px;
}

.dialogButton {
  padding: 4px inherit;
}

.ModalButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  button {
    height: 48px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
}

.inputText {
  margin-bottom: 12px;
  border-radius: 5px;
  border: 2px solid #e5e7fa;
  font-size: 18px;
}

.selectedEditContextMenu {
  position: absolute;
  top: 5px;
  left: calc(100% - 60px);
  min-width: 240px;
  padding: 7.5px;
  background-color: #fff;
  box-shadow: 0.5px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  z-index: 2;

  button {
    padding: 7.5px;
  }

  svg {
    min-width: 30px;
    margin-right: 5px;
  }
}

.selectedEditContextMenuAction {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  font-size: 18px;
  width: 100%;
  text-align: left;
  color: #3c475b;

  svg {
    font-size: 26px;
    margin-right: 10px;
  }

  &:hover {
    background-color: #e5e7fa;
  }
}

.newCasePopup {
  display: grid;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 5px;
  left: calc(100% + 5px);
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  width: 350px;

  p {
    font-size: 14px;
  }

  button {
    justify-self: flex-end;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    border-style: solid;
    position: absolute;
    left: -10px;
    top: 20px;
  }

  &:after {
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffffff transparent transparent;
  }

  &:before {
    left: -13px;
    border-width: 12px 12px 12px 0;
    border-color: transparent rgba(0, 0, 0, 0.24) transparent transparent;
  }
}
