.newCasePopup {
  display: grid;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 5px;
  left: calc(100% + 5px);
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  width: 350px;
  opacity: 0;
  transition: opacity 300ms;
  will-change: opacity;

  p {
    font-size: 14px;
  }

  button {
    justify-self: flex-end;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    border-style: solid;
    position: absolute;
    left: -10px;
    top: 20px;
  }

  &:after {
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffffff transparent transparent;
  }

  &:before {
    left: -13px;
    border-width: 12px 12px 12px 0;
    border-color: transparent rgba(0, 0, 0, 0.24) transparent transparent;
  }
}

.newCasePopupIn {
  opacity: 1;
}

.bottomArrow {
    &:before,
    &:after {
      top: 95px;
    }
}
