.selectedDataItem {
  display: flex;
  align-items: center;
  border: 1px solid rgba(#e5e7fa, 0.5);
  font-size: 10px;
  border-radius: 6px;
  background-color: #fff;
  position: relative;
  margin-bottom: 2.5px;

  &:last-of-type {
    border: none;
  }

  > button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 7.5px;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
  }
}

.selectedDataItemHighlighted {
  background-color: #e5e7fa;
}

.selectedDataIcon {
  font-size: 32px;
  margin-right: 10px;
}

.selectedDataContent {
  text-align: left;

  h6 {
    margin-bottom: 7.5px;
  }

  ul {
    display: flex;
  }

  li {
    font-size: 12px;
    margin-right: 15px;
  }
}

.selectedDataMenuAction {
  font-size: 22px;
  margin-left: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.SelectedDataItemActions {
  display: flex;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
