.selectedDataItem {
  list-style: none;
  border: 1px solid rgba(#e5e7fa, 0.5);
  font-size: 10px;
  background-color: #fff;
  position: relative;
  margin-bottom: 2.5px;
  color: #374357;

  > button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
  }
}

.selectedDataItemHighlighted {
  border-left: 4px solid #4051db;
}

.selectedDataIcon {
  font-size: 32px;
  margin-right: 10px;
}

.selectedDataContent {
  text-align: left;
  font-size: 12px;

  svg {
    color: #d3d7f8;
  }

  h6 {
    margin-bottom: 7.5px;
  }

  ul {
    display: flex;
    align-items: center;
  }

  li {
    margin-right: 15px;
  }
}

.selectedDataTag {
  background-color: #e5e7fa;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 40px;
  font-size: 10px;
}

.selectedDataMenuActions {
  display: flex;
  font-size: 22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;

  svg {
    color: #9ba0aa;
  }
}
