.sidebarWrapper {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: calc(100vh - 60px);
  width: 360px;
  background: rgb(248, 248, 255);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 13;
}

.sidebarWrapperPadded {
  padding: 20px;
}
