.notification {
  display: flex;
  background-color: #374357;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 10px 20px;
  color: #e9eaf0;
  font-size: 18px;
  text-align: left;
  width: calc(100vw - 395px);
  align-items: center;
  position: relative;
  margin-top: 10px;
  z-index: 1;

  svg {
    margin-right: 20px;
  }

  button {
    position: absolute;
    right: 0;
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
  }
}
