@import 'scss/global';

.map {
  height: 90vh;
  flex: 1;
}

.saveButton {
  position: absolute;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
}

.mapCtrl {
  margin-left: $spacing-md;
  margin-bottom: $spacing-md;
}

.mapFocusArea {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.focusIcon {
  height: 48px;
  width: 48px;

  &:before,
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    background: #000;
  }

  &:after {
    width: 16px;
    height: 48px;
  }

  &:before {
    width: 48px;
    height: 16px;
  }
}

.topLeft {
  position: absolute;
  left: 5%;
  top: 10%;
}

.topRight {
  position: absolute;
  right: 5%;
  top: 10%;

  &:after {
    right: 0;
  }
}

.bottomLeft {
  position: absolute;
  left: 5%;
  bottom: 10%;

  &:before {
    bottom: 0;
  }
}

.bottomRight {
  position: absolute;
  right: 5%;
  bottom: 10%;

  &:before {
    bottom: 0;
  }

  &:after {
    bottom: 0;
    right: 0;
  }
}
