.AddNewRecordHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.AddNewRecordTitle {
  font-size: 26px;
  margin-bottom: 30px;
}

.AddNewRecordCode {
  font-size: 52px;
  font-weight: 600;
}

.AddNewRecordActions {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  a,
  button {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}
