.StageForPublishingHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.StageForPublishingTitle {
  font-size: 26px;
  margin-bottom: 30px;
}

.StageForPublishingCode {
  font-size: 52px;
  font-weight: 600;
}

.StageForPublishingNotice {
  font-size: 20px;
  font-weight: 600;
}

.StageForPublishingActions {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  a,
  button {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
