.pointContextMenu {
  position: absolute;
  width: max-content;
  right: 5px;
  top: 20px;
  background-color: #fff;
  box-shadow: 0.5px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  z-index: 3;
  font-size: 14px;
  color: #374357;

  &:after,
  &:before {
    display: block;
    position: absolute;
    border-style: solid;
    right: 5px;
  }

  &:after {
    content: '';
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #fff transparent;
    top: -10px;
  }

  > button {
    display: inline-flex;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
  }

  ul {
    margin-bottom: 10px;
  }
}

.pointContextMenuOption {
  > button {
    text-align: left;
    font-size: 16px;
    padding: 10px;
    color: #374357;
    width: 100%;

    &:hover {
      background-color: #f8f8ff;
    }
  }

  svg:first-of-type {
    color: #d6d6da;
    min-width: 20px;
    margin-right: 10px;
    font-size: 14px;
  }
}

.pointContextMenuBottom {
  bottom: calc(100% + 42px);
  top: auto;
  right: auto;
  left: calc(50% - 12.5px);
  transform: translateX(-50%);

  &:before,
  &:after {
    content: '';
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    bottom: -11px;
    top: auto;
  }

  &:before {
    border-width: 10px 10px 0 10px;
    border-color: rgba(0, 0, 0, 0.25) transparent transparent transparent;
  }

  &:after {
    border-width: 10px 7.5px 0 7.5px;
    border-color: #fff transparent transparent transparent;
    bottom: -10px;
  }
}

.pointContextMenuClose {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 8;
}

.pointContextMenuHeader {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 15px;
  padding: 15px 10px;
  margin-bottom: 10px;
  border-radius: 8px 8px 0 0;
  background-color: #f8f8ff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

  svg {
    margin-right: 5px;
    color: #d3d7f8;
  }
}
