.pointContextMenu {
  position: absolute;
  min-width: 200px;
  right: 5px;
  top: 20px;
  padding: 10px 7.5px;
  background-color: #fff;
  box-shadow: 0.5px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  z-index: 3;
  font-size: 14px;

  &:after,
  &:before {
    display: block;
    position: absolute;
    border-style: solid;
    right: 5px;
  }

  &:after {
    content: '';
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #fff transparent;
    top: -10px;
  }

  li {
    position: relative;

    > button {
      font-size: 18px;
      padding: 7.5px;
      width: 100%;

      &:hover {
        background: #e5e7fa;
      }
    }

    svg {
      min-width: 20px;
      margin-right: 5px;
    }
  }

  > button {
    display: inline-flex;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
  }
}

.pointContextMenuBottom {
  bottom: calc(100% + 20px);
  top: auto;
  right: auto;
  left: -20px;

  &:before {
    content: '';
    border-width: 0 8px 11px 8px;
    border-color: rgba(0, 0, 0, 0.25) transparent transparent transparent;
    left: 15px;
    right: auto;
    bottom: -11px;
    top: auto;
  }

  &:after {
    content: '';
    border-width: 10px 7.5px 0 7.5px;
    border-color: #fff transparent transparent transparent;
    left: 15px;
    right: auto;
    bottom: -10px;
    top: auto;
  }
}

.pointContextMenuClose {
  position: absolute;
  top: 5px;
  right: 0;
}

.pointContextMenuHeader {
  margin-bottom: 10px;
  padding-bottom: 7.5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

  li {
    margin-bottom: 7.5px;
  }
}
