.labelAsWrapper {
  position: absolute;
  left: 100%;
  top: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0.5px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  z-index: 3;
  width: 250px;
  font-size: 18px;
}

.inputWrapper {
  margin-top: 15px;
  position: relative;

  input {
    padding-right: 50px;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    border-radius: 0;
  }
}

.labelAsWrapperOption {
  button {
    display: flex;
    font-size: 16px;

    &:not([disabled]):hover {
      color: #384df6;
    }

    svg {
      margin-right: 10px;
    }
  }
}

.labelAsWrapperOptionCheck {
  margin-left: auto;
}

.previousTags {
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
