@import 'scss/global';

.empty {
  padding: $spacing-lg;
  margin: 0;
  display: flex !important;
  background: $ui-02;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emptyLarge {
  min-height: 17rem;
  padding: 2rem 0;
  height: 100%;
  width: 100%;

  > div {
    margin-top: 0rem;
  }

  h2 {
    margin-bottom: $spacing-xs;
  }

  p {
    color: $ui-05;
  }
  .button {
    margin-top: $spacing-md;
    :global {
      .wfp--btn {
        margin: $spacing-2xs;
      }
    }
  }
}

.emptySection {
  padding: $spacing-xl 0;
  text-align: left;
  flex-direction: row;
  justify-content: space-between;
  h2 {
    @include typescale('epsilon');
  }
  p {
    opacity: 0.6;
    @include typescale('caption');
  }
  .empty__icon {
    margin-bottom: 1em;
    display: none;
    svg,
    .svg-inline--fa {
      width: 5rem;
      height: 5rem;
      path {
        fill: $interactive-01;
      }
      margin-bottom: $spacing-xs;
    }
  }
  //border-bottom: 1px solid $ui-04;
}

.emptyIcon {
  :global {
    svg,
    .svg-inline--fa {
      width: 3rem;
      height: 3rem;
      path {
        fill: $interactive-01;
      }
      margin-bottom: $spacing-xs;
    }
  }
  .emptyLarge & {
    padding: 0 2rem;
    //height: 100%;
    img {
      width: 35rem;
      max-width: 100%;
      max-height: 15rem;
      height: auto;
    }
    :global {
      svg,
      .svg-inline--fa {
        width: 8rem;
        height: 8rem;
      }
    }
    margin-bottom: $spacing-lg;
  }
}
