@import 'scss/global';

.dateInput {
  position: relative;
  width: 100%;

  input {
    background: #f8f8ff;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 44px;
    padding-left: 46px;
    font-size: 18px;
    font-weight: 400;
  }
}

.icon {
  position: absolute;
  left: 13px;
  bottom: 0;
  transform: translateY(-50%);
  top: 50%;
  width: 35px;
  font-size: 22px;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

:global .react-datepicker-wrapper,
:global .datePicker {
  width: 100%;
}

:global .react-datepicker__header {
  background-color: #fff;
}
