@import 'scss/global';

.dateInput {
  position: relative;
  width: 100%;

  input[type='date'],
  input[type='time'] {
    display: flex;
    align-items: center;
    padding-left: 35px;
  }

  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    //display: none;
    cursor: pointer;
    opacity: 0;
    -webkit-appearance: none;
    background: red;
  }
}

:global .SingleDatePicker,
:global .DateInput,
:global .SingleDatePickerInput {
  width: 100%; // need to change
}

.icon {
  position: absolute;
  left: 13px;
  bottom: 0;
  height: 39px;
  width: 35px;
  color: $interactive-01;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
