.record {
  width: 100%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);

  &:last-of-type {
    border: none;
  }

  div,
  label,
  span {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    line-height: normal;
    margin-bottom: 0;
  }
}

.recordAction {
  font-style: inherit;
  color: #2434b6;
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 0;
  border-bottom: 1px solid #2434b6;
  margin-right: 20px;
}

.unpublished {
  font-style: italic;
}
