@import 'scss/global';

.login {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.title {
  font-weight: 500;
  font-size: 52px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2px;
  color: #000000;
  margin-bottom: 56px;
}

.loginFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex: 1;
  max-width: 350px;

  form {
    width: 100%;
  }

  [class='page-title'] {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: $spacing-xl;
    @include breakpointMax(bp--md--major) {
      margin-bottom: $spacing-md;
    }
  }

  [class='wfp--form-item'] {
    margin-bottom: 24px;

    input {
      height: 45px;
    }
  }
}

.buttonContainer {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
}

.rememberMeContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.submitWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
}

.backLink {
  margin-bottom: 2rem;
}

.loginLogo {
  @include breakpointMax(bp--md--major) {
    display: none;
  }
  /*margin-bottom: 2rem;
  margin-top: 20%;
  margin-left: 20%;*/
  //margin-bottom: -30%;
  svg {
    width: 8vmin;
    height: auto;
  }

  path {
    fill: $brand-01;
  }
}

.loginContent {
  @include breakpointMax(bp--md--major) {
    display: none;
  }
  flex: 1;
  display: flex;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }
}

.disclaimer {
  text-align: center;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  margin-top: 56px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
}

[class='wfp--loading__svg'] {
  stroke: white !important;
}
