.viewWrapper {
  display: grid;
  height: calc(100vh - 60px);
  grid-template-columns: 360px auto;
  overflow: hidden;
}

.sidebarActions {
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 15px;
  }
}

.sidebarActionsPadded {
  margin-top: auto;
  padding: 10px 10px 0;
}
