.AddNewRecordHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.AddNewRecordTitle {
  font-size: 26px;
  margin-bottom: 30px;
  text-align: center;
}

.AddNewRecordCode {
  font-size: 52px;
  font-weight: 600;
  margin: 32px;
  text-align: center;
}

.AddNewRecordActions {
  display: flex;
  flex-direction: column;

  a,
  button {
    margin-bottom: 15px;
  }
}

.closeIcon {
  top: 10px;
  right: 15px;
  font-size: 25px;
  position: absolute;
  color: black;
  z-index: 99;
  cursor: pointer;
  transition: transform 250ms ease;

  &:focus,
  &:hover {
    transform: scale(1.1);
  }
}

.divider {
  margin: 0 0 15px;
  text-align: center;
}
