@import 'scss/global';

.form {
  background: $ui-01;
  border-radius: 10px;
  box-shadow: 0px 4px 12px -2px rgba(#000, 0.2);
  [class='wfp--form-item'] {
    margin-right: $spacing-xs;
    //margin-bottom: $spacing-md;
    &:last-child {
      margin-right: 0;
    }
  }
  border-bottom: 1px solid $ui-03;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $ui-04;
  padding: $spacing-xs $spacing-md;
  background: $ui-02;
  border-radius: 10px 10px 0 0;
}

.content {
  padding: $spacing-md;
  max-height: calc(90vh - 80px);
  overflow: auto;
}

.headerTitle {
  font-weight: 600;
  line-height: 1;
}

.closeButton {
  width: 2rem;
  height: 2rem;
  display: flex;
  background: none;
  color: $text-01;
  padding: 0 !important;
  border-radius: 30px;
  position: relative;
  right: -0.5em;
  &:hover {
    background: $ui-03;
  }
}

.pickButton {
  margin-right: $spacing-2xs;
}

.position {
  display: flex;
  align-items: flex-end;
}
.positionHelp {
  display: flex;
  font-size: 10px;
  margin-bottom: $spacing-md;
}

.dateWrapper {
  display: flex;
  margin-bottom: $spacing-md;
  > * {
    margin-right: $spacing-xs;
    &:last-child {
      margin-right: 0;
    }
  }
}

.streetWrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: $spacing-md;
}

.commentWrapper {
  margin-bottom: $spacing-md;
}

.townWrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: $spacing-md;
}
