.filterData {
}

.filterDataHeader {
  display: flex;
  justify-content: space-between;

  h5 {
    font-weight: 400;
  }
}

.filterBody {
  display: none;
  position: absolute;
  top: calc(12%);
  right: 0;
  width: 100%;
  max-width: 248px;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  z-index: 2;
}

.filterBodyActive {
  display: block;
}

.filterBodyAction {
  display: flex;
  align-items: center;
  font-size: 14px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;

  svg {
    margin-left: 5px;
    font-size: 18px;
  }
}

.filterBodyMain {
  padding: 24px 24px 0;
}

.filterBodyActions {
  display: flex;
  justify-content: flex-end;
  padding: 0 24px 24px;
}
