.passwordInput {
  position: relative;
  margin-bottom: 20px;

  input {
    width: 100%;
  }

  button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
