.passwordInput {
  margin-bottom: 20px;

  > div {
    position: relative;
  }

  input {
    width: 100%;
  }

  button {
    position: absolute;
    right: 10px;
    top: 22.5px;
    transform: translateY(-50%);
  }
}
