.passwordStrengthIndicator {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

.passwordStrengthIndicatorItem {
  display: inline-flex;
  align-items: center;

  svg {
    color: #e5e7fa;
    font-size: 12px;
    margin-right: 10px;
  }
}

.passwordStrengthIndicatorItemValid {
  color: #41dca4;

  svg {
    color: currentColor;
  }
}
