.marker {
  > button {
    padding: 0;
  }

  .markerIcon {
    display: block;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    border: 2px solid #fff;
    background-color: #4051db;
  }
}

.markerExpanded {
  z-index: 2;

  .markerIcon {
    transform: translate(-12.5px, -32px);
    background-color: rgba(64, 81, 219, 0.65);
  }
}

.marker {
  &.markerAlt {
    > button {
      pointer-events: none;
      cursor: not-allowed;

      .markerIcon {
        background-color: rgba(64, 81, 219, 0.65);
      }
    }
  }
}
