.marker {
  > button {
    padding: 0;

    .markerIcon {
      height: 30px;
      width: 20px;
      transform: translate(-10px, -20px);
      color: #ff5656;
    }
  }
}

.markerExpanded {
  z-index: 2;

  > button {
    .markerIcon {
      transform: translate(-12.5px, -30px);
      height: 40px;
      width: 30px;
    }
  }
}

.markerAlt {
  > button {
    pointer-events: none;
    cursor: not-allowed;
  }

  .markerIcon {
    color: #4051db;
  }
}
