.marker {
  > button {
    padding: 0;
  }

  .markerIcon {
    height: 30px;
    width: 20px;
    transform: translate(-10px, -20px);
    color: #4051db;
  }
}

.markerExpanded {
  z-index: 2;

  .markerIcon {
    transform: translate(-12.5px, -32px);
    height: 40px;
    width: 32px;
  }
}

.markerAlt {
  > button {
    pointer-events: none;
    cursor: not-allowed;
  }
}
