@import 'scss/global';

.modal {
  position: fixed;
  height: calc(100vh - 10%);
  width: 100%;
  animation: slideIn 300ms linear;
  bottom: 0;
  z-index: 13;

  &:before {
    content: '';
    background: rgba(0, 0, 0, 0.6);
    height: 98px;
    width: 100%;
    position: absolute;
    top: -98px;
  }
}

.closeIcon {
  top: 10px;
  left: 15px;
  font-size: 28px;
  position: absolute;
  color: black;
  z-index: 99;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
