.toggleWrapper {
  display: flex;
  align-items: center;

  input {
    display: none;
  }
}

.toggleWrapperLabel {
  margin-right: 10px;
  font-size: 14px;
}

.toggle {
  display: flex;
  background-color: #d6d6da;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  width: 48px;
  height: 30px;
  border-radius: 48px;
  position: relative;
  transition: background-color 200ms ease;
  cursor: pointer;

  &:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: linear-gradient(180deg, #ffffff 0%, #ececff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
    border-radius: 100%;
    transition: transform 200ms ease;
  }
}

.toggleChecked {
  background-color: #41dca4;

  &:after {
    background: linear-gradient(180deg, #ffffff 0%, #ececff 100%);
    transform: translateX(18px);
  }
}
