@import 'scss/global';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  border-radius: 8px;
  border: 2px solid $interactive-01;
  background-color: $interactive-01;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition: all 300ms ease;

  &:focus,
  &:hover {
    background-color: $hover-primary;
    border-color: $hover-primary;
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #e5e7fa;
    border-color: #e5e7fa;
    color: #a5affb;
  }

  > svg {
    margin: 0 10px;
  }
}

.buttonLarge {
  min-width: 325px;
  min-height: 60px;
  font-size: 18px;
}

.buttonSecondary {
  color: $interactive-01;
  background-color: transparent;

  &:hover {
    color: #fff;
  }
}

.buttonFullWidth {
  width: 100%;
}

.buttonTertiary {
  color: #4051db;
  border: 2px solid #6979f8;
  background: #fff;
  padding: 10px;

  svg {
    margin-left: 0;
  }
}

.buttonTertiary {
  color: #4051db;
  border: 2px solid #6979f8;
  background: #fff;
  padding: 10px;

  svg {
    margin-left: 0;
  }
}

.buttonWhite {
  color: #fff;
  border: 2px solid currentColor;

  &:hover {
    border: 2px solid #fff;
    background: #fff;
    color: #000;
  }
}
