.selectionLocationHelp {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(#000000, 0.6);
  z-index: 89;
  color: #fff;
  padding: 10px 10px 0;
  transform: translateY(-100%);
  transition: transform 300ms;
}

.selectionLocationHelpIn {
  transform: translateY(0);
}
