@import './global.scss';

@import '~@wfp/ui/source/globals/scss/styles';

.wfp--text-input {
  min-width: 2rem;
}

html,
body {
  height: 100%;
}

#root,
.App {
  height: 100%;
}

.wfp--btn--tertiary {
  border-color: transparent;
}
