@import 'scss/global';

.map {
  height: 100vh;
  flex: 1;
}

.mapCtrl {
  margin-left: $spacing-md;
  margin-bottom: $spacing-md;
}
.geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  left:calc(50% - 180px);
  top: 10px;
}
