.siteHeader {
  position: fixed;
  padding: 20px 10px;
  width: 100%;
  z-index: 3;
  text-align: center;

  @media screen and (min-width: 700px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 75px;
    text-align: left;
  }
}

.loggedIn {
  position: relative;
  width: 100%;
  background-color: #1f2c9b;
}
