.siteHeader {
  position: fixed;
  padding: 20px 10px;
  width: 100%;
  z-index: 3;
  text-align: center;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.02), 0px 0px 8px rgba(0, 0, 0, 0.04), 0px 1px 0px rgba(0, 0, 0, 0.02);

  @media screen and (min-width: 700px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 64px;
    text-align: left;
  }
}

.loggedIn {
  position: relative;
  width: 100%;
}
