@import "../../scss/global";

.settingsPageWrapper {
  background: $ui-02;
  height: 100%;
}
.settingsPage {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.header {
  margin: $spacing-2xl 0;
}
.wrapper {
  display: flex;
}

.navigation {
  display: flex;
  flex-direction: column;
  margin-top: $spacing-xl;
  margin-right: 2 * $spacing-3xl;
  > * {
    margin-bottom: $spacing-xl;
    text-decoration: none;
    &[class="active"] {
      color: $text-01;
      font-weight: 600;
      text-decoration: none;
    }
  }
}
.content {
  background: $ui-01;
  padding: 2rem;
  border-radius: 5px;
  flex: 1;
  box-shadow: 0px 5px 10px rgba(#000, 0.03);
  form > [class="wfp--form-item"],
  form > * {
    margin-bottom: 2rem;
  }
}
