@import 'scss/global';

body {
  overflow: auto;
}

.container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.containerSettings {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.ellipse {
  position: absolute;
  width: 100%;
  top: 0;
  height: 510px;
  background: url('../../../assets/images/ellipse.png') no-repeat center -90px;
  background-size: cover;
  z-index: -1;
}

img {
  object-fit: contain;
}

.welcomeContainer {
  margin-top: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  height: 300px;
}

.title {
  margin-top: 48px;
  font-weight: 500;
  font-size: 52px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2px;
}

.subtitle {
  margin-top: 24px;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  max-width: 590px;
}

.infoInputsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 720px;
  margin-top: 190px;
  margin-bottom: 80px;
}

.infoInputsContainerSettings {
  display: flex;
  flex-direction: column;
}


.boundariesSetContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkCircle {
  height: 26px;
  width: 26px;
  color: #41dca4;
  margin-right: 10px;
}

.boundariesSet {
  font-size: 18px;
  line-height: 24px;
  color: #41dca4;
  margin-right: 48px;
}

.boundariesError {
  font-size: 12px;
  margin: 4px 0 0;
  overflow: hidden;
  font-weight: 600;
  line-height: 1.5;
  color: #c5192d;
}
